<%= @trip.name %>

<%= link_to 'New Location', new_trip_location_path(@trip) %>

<div class="container">
  <div class="row">
    <div class="col">
      <ul>
        <% @trip.locations.each do |location| %>
          <li>
            <%= link_to location.name, [@trip, location] %>
            <%= link_to "Delete", @location, method: :delete do %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>